$bg: #dfdfdf;
$txt-color: #000;
$play-color: #00ae1c;
$pause-color: #099ac8;
$reset-color: #ef9919;
$btn-txt: #fff;
$divider-color: #bbbbbb;
$divider-height: 3rem;
$screen-width: 50%;
$screen-adapt: 100%;
